$text-color: #25213b;
$background-color: #8b83ba;
$border-color: #1890ff;

.enum-filter {
  height: fit-content;
  margin: 7px;
  background: #ffffff;
  border: 1px solid #c6c2de;
  box-sizing: border-box;
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  font-size: 1rem;
  .enum-filter__title {
    padding: 2px 0;
    text-align: center;
    font-weight: 600;
    font-size: 1rem;
    color: $text-color;
  }
  .enum-filter__input {
    margin: 5px;
  }
  .enum-filter__select {
    min-width: 130px;
  }
}

.enum-select__multi-value__label {
  color: #ffffff !important;
  background-color: $background-color;
}

.enum-select__multi-value__remove {
  background-color: #7066a8 !important;
  margin-left: 1px;
  & svg {
    color: #ffffff;
  }
  &:hover {
    background-color: $background-color !important;
  }
}

.enum-select__control {
  &.enum-select__control--is-focused {
    box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2) !important;
    border-color: $border-color !important;
  }
  &.enum-select__control--menu-is-open {
    border-color: $border-color !important;
  }
  &.enum-select__control:hover {
    border-color: $border-color !important;
  }
}

.css-26l3qy-menu {
  z-index: 3 !important;
}
