$text-color: #25213b;
$text-color-selected: #000000;
$background-color: #e9ecef;
$background-color-selected: #c7cace;
$padding-cell: 5px;
$icon-color-active: #0b76ef;

%sticky-param {
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  z-index: 1;
}

.table-wrapper {
  max-width: 1200px;
  height: 60vh;
  margin: 7px auto;
  background: #ffffff;
  border: 1px solid #c6c2de;
  box-sizing: border-box;
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  overflow: auto;
}

.table {
  width: 100%;
  color: $text-color;
  font-size: 0.9rem;
  thead::after {
    content: '@';
    display: block;
    line-height: 10px;
    text-indent: -99999px;
  }
  th {
    @extend %sticky-param;
    top: 0;
    width: 165px;
    min-width: 100px;
    padding: $padding-cell;
    background-color: rgb(238, 234, 234);
    -webkit-box-shadow: 0px 0px 0px 2px #99a599;
    box-shadow: 0px 0px 0px 2px #99a599;
    .table-header__sort-icon {
      display: inline-block;
    }
  }
  tr th:nth-last-child(1) {
    border-right: none;
  }
  tr th:nth-child(1) {
    z-index: 2;
  }
}

.table-content {
  user-select: none;
  .table-content__row:hover {
    &:hover {
      background-color: $background-color;
      .table-content__data--sticky {
        background-color: $background-color;
      }
    }
  }
  .table-content__row--select {
    background-color: $background-color-selected;
    color: $text-color-selected;
    .table-content__data--sticky {
      background-color: $background-color-selected;
      color: $text-color-selected;
    }
  }
  .table-content__row--select:hover {
    &:hover {
      background-color: $background-color-selected;
      color: $text-color-selected;
      .table-content__data--sticky {
        background-color: $background-color-selected;
        color: $text-color-selected;
      }
    }
  }

  .table-content__data {
    padding: $padding-cell;
  }
  .table-content__data--sticky {
    background: #ffffff;
    @extend %sticky-param;
    -webkit-box-shadow: 2px 0px 2px -2px #99a599;
    box-shadow: 2px 0px 2px -2px #99a599;
  }
}

.sort-icon-asc,
.sort-icon-desc {
  margin-left: 5px;
  font-size: 1rem;
  vertical-align: sub;
  color: $text-color;
  &:hover {
    color: $icon-color-active;
    cursor: pointer;
  }
}

.sort-icon--active {
  color: $icon-color-active;
}

.delete-rows {
  position: sticky;
  bottom: 15px;
  left: 15px;
  z-index: 5;
}
