.setting {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  background-color: rgb(250, 250, 248);
}

.button-wrapper {
  display: flex;
  justify-content: space-between;
}

.filter-wrapper {
  display: flex;
  justify-content: center;
}

.enum-wrapper, .toggle-wrapper {
  align-self: center;
}
