*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
  margin: 0;
  list-style: none;
}

body,
h1,
h2,
h3,
h4,
p,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  line-height: 1.5;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(250, 250, 248);
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  padding: 0;
  border: none;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

html,body {
  scrollbar-color:  #8B83BA #bfd3d259;     /* «цвет ползунка» «цвет полосы скроллбара» */
  scrollbar-width: 12px;  
}
::-webkit-scrollbar {
  width: 12px; 
  height: 12px; 
  background-color: #bfd3d259;
  box-shadow: inset 1px 1px 3px #a19e9e;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #8B83BA;
  border-radius: 5px;
  &:hover{
    background-color:#7066a8;
  }
}
